div.des{
    width: 150px;
    height: 85px;
    background-color: rgb(158, 161, 163);
    line-height: 85px;
    text-align: center;
    padding: 7px;
    cursor: pointer;
    border: solid ;
}
div:hover{
    background-color: rgb(66, 64, 63);
}